body{
	background-color: #787878;
        color: #FFFFFF;
	font-family: Garamond, Geneva, Arial, Helvetica, sans-serif;
	overflow: -moz-scrollbars-vertical;}

#navigation{
    color: #336699;
    float: left;
}

#navigation a {
	color: #336699;
	text-align:center;
        width:100px;
	padding:10px;
	background-color:#c6c6c6;
	display:block;
	border:1px black solid;
}

#navigation a:hover {
	color:#ffaa00;
}

#navigation .active {
	color:#990066;    
}

/* header */

#header {
	height:80px;
	margin:0 auto;
	width:751px;
        color:#888;
	font-size:200%;
	text-align:center;
        padding: 0, 0, 0, 0;
}
h1{
    padding: 0, 0, 0, 0;
    margin: 0, auto;
}

#content{
    text-align: left;
    margin-left: 350px;
}

/* footer */

#footer{
	border-top: 1px solid #999;
	text-align: center;}